<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>وبلاگ امیریان</title>
    </head>
<body>
    <meta charset="UTF-8">
    <p>سلام خوش آمدید!</p>
    <p>سایت کار می کند!</p>


    <header>
        <h1><a href="/">وبلاگ علی امیریان</a></h1>
    </header>

    <article>
        <time>زمان انتشار: 25.05.2022, 20:14</time>
        <h2><a href="">اولین پست من</a></h2>
        <p>برای  شروع کار با پایتون و جنگو چند روز است که وقت گذاشتم</p>
    </article>

    <article>
        <time>زمان انتشار: 04.03.1401, 20:14</time>
        <h2><a href="">دومین پست من</a></h2>
        <p>برای اجرای سایت در گیت هاب و پایتون انی ور باید اکانت ایجاد کنیم</p>
    </article>
</body>
</html>